{% load static %}
<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="A micro blog website built using django.">
        <meta name="keywords" content="Blog, Django">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Subrat Lima">
        <title>

            {% block title %}
            {% endblock title %}
        </title>
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    </head>
    <body>
        <nav>
            <a href="{% url 'index' %}">HOME</a>
            <a href="{% url 'view_posts' %}">POSTS</a>
            {% if user.is_authenticated %}
                <div class="right">
                    <span>{{ user.get_full_name }}</span>
                    <form class="logout-form" method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <input type="submit" value="LOGOUT">
                    </form>
                </div>
            {% else %}
                <a href="{% url 'login' %}">LOGIN</a>
                <a href="{% url 'register' %}">REGISTER</a>
            {% endif %}
        </nav>

        {% block content %}
        {% endblock content %}
    </body>
</html>
